*{
    letter-spacing: 1.5px;
}
.menu{
    color: black;
    font-size: 10px;
    padding: 5px;
    font-weight: bold;

}
.brand{
    color: black;
    font-size: 25px;

}
.course{
    font-size: 10px;
    font-weight: bold;
}
.footer{
     font-size: 15px;
     text-align: center;
     margin-top: 50px;
}
.soc{
    width: 25px;
    padding-right: 5px;
    text-decoration-line: underline;
}
.below{
    font-weight: lighter;
    font-size: 10px;
}
.copyright{
    font-size: 10px;
    font-weight: lighter;
    text-align: center;
    padding-left: 15px;
    
}
.phone{
    color:  rgb(64,224,235);
    font-stretch: expanded;
}
.phone:hover{
    color:black;
    text-decoration-line: none;
}
.sub{
    font-size: 10px;
   
    
}
.mine{
    border-radius: 50%;
    width:500px;
  padding-left: 40px;
}
.content1{
    color: white;
    padding-top: 15px;
    position:relative;
    left:40px;
    
}
.content2{
    color: rgb(120,120,120);
    padding-top: 15px;
    padding-bottom: 25px;
    position:relative;
    left:40px;
    
}
.seperate{
    list-style: none;
    padding-top:120px ;
    padding-left: 100px;
    letter-spacing: 0.5px;
}

.content3{
    color:  rgb(64,224,235);
    font-stretch: expanded;
    padding-top: 15px;
    position:relative;
    left:40px;
    
}
.content3:hover{
    color:white;
    text-decoration-line: none;
}
.menu:hover{
    color:rgb(64,224,235)
    }
    .mid{
        padding-top: 20px;
    }
    .navbar-nav > li {
        margin-top: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        background-color:white;
    }
    
