*{
    letter-spacing: 1.5px;
}
.menu{
    color: black;
    font-size: 10px;
    padding: 5px;
    font-weight: bold;

}
.navbar-nav > li {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color:white;
}
.menu:hover{
    color:rgb(64,224,235)
    }

.brand{
        color: black;
        font-size: 25px;
    
    }
.course{
        font-size: 10px;
        font-weight: bold;
    }    
.sub{
        font-size: 10px;
       
        
    }
.mid{
        padding-top: 20px;
        margin-top: 60px;
        background-color:rgb(18,18,18) ;
        padding-bottom: 20px;
    }
.heading{

        color: rgb(64,224,235); 
        text-align: center; 
        font-family: 'Josefin Slab', serif;
        margin-bottom: 0; 
        padding-top: 10px; 
        font-size: 48px;

    }
/* .container{
 
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 500px;
      } */
.footer{
        font-size: 15px;
        text-align: center;
        margin-top: 50px;
   }
.soc{
       width: 25px;
       padding-right: 5px;
       text-decoration-line: underline;
   }
.below{
       font-weight: lighter;
       font-size: 10px;
   }
.copyright{
       font-size: 10px;
       font-weight: lighter;
       text-align: center;
       padding-left: 15px;
       
   }
.content{
       text-align: center;

}
.info{
    color: white;
    font-family: 'Josefin Slab', serif;
    padding-top: 20px;
}
.info2{
    
    font-family: 'Josefin Slab', serif;
}
.info3{
    color: slategray;
    padding-top: 6px;
    font-family: 'Josefin Slab', serif;
}
.info4{
   
        color:  rgb(64,224,235);
        font-stretch: expanded;
        padding-top: 60px;
        font-family: 'Josefin Slab', serif;
       
        
    }
.info4:hover{
        color:white;
        text-decoration-line: none;
    }


.img-fluid{
    width: 30rem;
    position: relative;
    bottom: 10px;
}
