*{
    letter-spacing: 1.5px;
}
.menu{
    color: black;
    font-size: 10px;
    padding: 5px;
    font-weight: bold;

}
.brand{
    color: black;
    font-size: 25px;

}
.course{
    font-size: 10px;
    font-weight: bold;
}
.footer{
     font-size: 15px;
     text-align: center;
     margin-top: 50px;
}
.soc{
    width: 25px;
    padding-right: 5px;
    text-decoration-line: underline;
}
.below{
    font-weight: lighter;
    font-size: 10px;
}
.copyright{
    font-size: 10px;
    font-weight: lighter;
    text-align: center;
    padding-left: 15px;
    
}
.phone{
    color:  rgb(64,224,235);
    font-stretch: expanded;
}
.phone:hover{
    color:black;
    text-decoration-line: none;
}
.sub{
    font-size: 10px;
   
    
}
.mid{
    margin-top: 10px;
    background-color:rgb(64,224,235);
    text-align: center;
    padding: 30px;
    margin-right:0;
}

.lin{
    padding-top: 7px;
    
}
.row{
    text-align: center;
    
    
}
.content1{
    color:rgb(350,350,350);
    padding: 20px;
    
    padding-top: 15px;
    padding-bottom: 15px;
    /* font-weight:normal; */
    font-size: 18px;
    font-family: 'Josefin Slab', serif;


}
.content2{
color: rgb(165,165,165);
font-size: 15px;
padding: 17px;


letter-spacing: 1px;
}
.menu:hover{
    color:rgb(64,224,235)
    }
    .navbar-nav > li {
        margin-top: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        background-color:white;
    }
