body{
    overflow-x: hidden;
}

#title{
 
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 600px;
}
h1 {

  font-family: 'Montserrat ', sans-serif;

  font-size: 3rem;

  font-weight: 700;

  line-height: 1.5;

}
.container-fluid{
    padding: 3% 15%;
    
}


/* .container-fluid{
    background-color:black;



    font-family: 'Montserrat', sans-serif; 
} */
.navbar-brand{
    font-family: ubuntu;
}

.dog{
    width:270px;
    transform:rotate(25deg);
    position: relative;
    left: 70px;
    top: 120px;
}

.content1{
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5rem;
  font-weight: bolder;
  position: relative;
  left: 30px;
}

.content2{
    color: #8f8f8f;
    position: relative;
  left: 20px;
}
.icon:hover{
    color:green;

}

#testimonials{
    padding: 5% 17%;
    text-align: center;
    background-color:teal;
    color: white;
}
.testimonial-image{
    border-radius: 50%;
    width: 300px;
    margin-bottom: 20px;
    margin-right: 40px;
    height: 300px;
}

#press{
  background-color:teal;
    padding-bottom: 30px;
    position: relative;
    bottom: 60px;
    
    
    
}
.logo{
    width:150px;
    padding: 30px;
    padding: 40px;
    position: relative;
    left: 30px;
    
    
}

.challenge{
    background-color: white;
  }
    
.challenge2{
      background-color: teal;
      text-align: center;
      padding: 60px;
  }
    
   

.content{
  padding-top: 50px;
}


       #title{
           text-align: center;
       }



.truelove{
    color: white;
    text-align: center;
    padding-bottom: 30px;
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
}

#footer{
    background-color: white;
    text-align: center;
}
.foot{
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.soc{
  width: 25px;
  padding-right: 5px;
  text-decoration-line: underline;
}.footer{
  font-size: 15px;
  text-align: center;
  margin-top: 50px;
  height: 200px;
}
.copyright{
  font-size: 10px;
  font-weight: lighter;
  text-align: center;
  padding-left: 15px;
}
.below{
  font-weight: lighter;
  font-size: 10px;
}
.topy{
  color:white; 
  line-height: 80px; 
  margin-top: 50px; 
  text-align: center; 
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
}
.topys{
  color:whitesmoke;
   font-size: 20px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

#pricing{
  background-color: black;
  padding-bottom: 80px;
}

.content3{
  font-family: 'Courier New', Courier, monospace;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}
.line{
  color: white;
  height: 10px;
}
